.title h1 {
    font-size: 6em;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    color: rgb(208 54 64);
    text-align: center;
}

.drawTutorial {
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.content {
    display: flex;
    flex-direction: row;
}

.wtf {
    width: 50vw;
    margin-right: 20vw;
    color: rgb(208 54 64);
}

.f {
    display: flex;
    flex-direction: row;
}

.f p {
    padding-left: 10px;
}